p {
    color: rgb(5, 5, 5);
}

.teste {
    color: rgb(255, 0, 0);
}

a:hover {
    color: yellow;
}

.teste2 {
    color: rgb(76, 3, 247);
}

h1 {
    text-align: center;
}

.links-marcas {
    font-size: 50px;
}

table {
  margin: 0;
  height: 100vh;            
  display: flex;
  justify-content: center;  
  align-items: center;      
}

body {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #e5e7eb;
    min-height: 100vh;
}
.primeiro_paragrafo {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}