body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #1c2541, #0a1f44, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#caixa {
    text-align: center;
}